.product-body
{
	height:600px;
	background-color:#eeeeee;
}
.product-image-slider
{
	background-image: url(1.jpg);
	background-size:cover;
	height: 400px;
	background-color: #95a6a5;
}
.products-00
{
	height: 500px;
	background-color: #000000;
}
.product-01
{
height: 100%;
background-color: #eeeeee;
padding: 5%;
}
.product-02
{
	height: 100%;
	background-color:#eeeeee;
	border-left:0.5px solid #ffffff;
	padding: 5%;
}
.labels
{
	font-family: Segoe UI;
	font-size: 2rem;
	height: 50px;
	max-height: 50px;
	line-height: 50px !important;
	background-color: #8cc63e;
	color: #ffffff !important;
}
.labels h5
{
	vertical-align: center !important;
}
.product-class table
{
	text-align: center;
color: #000000;
}
.product-class table tr:first-child
{
	font-weight: bold;
}